<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do's</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Handlee&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/todos.css">
    

</head>
<body>
    <section id="notepad">
        <header >
            <h1><%= user.userName %>'s To-do's</h1>
        </header>

        <section id="left">

        </section>
        
        <section id="page">
            <section id="top">

                <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->

                <form action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter To-do Item" name='todoItem' class='text-field'>
                    <input type="submit" class="button">
                </form>

                <a class="logout" href="/logout">Logout</a>

            </section>
          
                <h2>Private</h2>
          
                <ul>
                    <% todos.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
<!--                             <span class='<%= el.isPublic === true ? 'pub' : 'priv'%>'>Public</span> -->
<!--                             <span class="priv">Private</span> -->
                            <span class='<%= el.completed === true ? 'completed' : 'not'%> <%= el.setPriority === true ? 'priority' : 'notPriority'%>'><%= el.todo %></span>
                          <section class="task-options" data-id='<%=el._id%>'>
                            <span class='button <%= el.isPublic === true ? 'clicked' : ''%> <%= el.isPublic === true ? 'pub' : 'priv'%>'>Public</span>
                            
                            <span class="material-symbols-outlined <%= el.setPriority === true ? 'priority' : 'notPriority'%>">flag</span>
                            <span class="material-symbols-outlined del">delete</span>
                          </section>
                        </li>
                    <% }) %>    
                </ul>
                      
                <h2>Public</h2>
                      
                <ul>
                  <% public.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
<!--                 <span class='<%= el.isPublic === true ? 'isPublic' : 'not'%>'><%= el.todo %></span> -->
                    <% if(el.isPublic === true) { %>
                      <span class='<%= el.completed === true ? 'completed' : 'not'%> <%= el.setPriority === true ? 'priority' : 'notPriority'%>'><%= el.todo %></span>
                    <% } %>
                    <span class="material-symbols-outlined del">delete</span>
                      <!-- <span class='del'> Delete </span> -->
                    </li>
                  <% }) %> 
                </ul>
                    
            </section>
                    
          <section>
          
        </section>
    </section>

        <!--Testing display of public tasks-->
        
    <script src="js/main.js"></script>
</body>
</html>